@import url('https://fonts.googleapis.com/css?family=Raleway');


/*HEADER*/
* {
  font-family: 'Raleway', sans-serif;
}

header ul.menu {
  margin-top: 2.5rem;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #e6e6e6;
}

.is-drilldown {
  min-height: 400px;
}

.menu nav li a {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}


.socialMedia {
  font-size: 30px;
  background: transparent;
  margin-bottom: 4rem !important;
  text-align: -webkit-center;
}

/*FOOTER*/
footer div.columns, div.full-width {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  width: 100%;
  color: white;
}

footer {
  background-color: black;
}

footer li a {
  color: white;
}

footer li a:hover{
  color: lightgray;
}

.card {
  margin-top: 2rem;
  max-width: 100%;

}

div.card-divider h4 {
  margin-bottom: 0px;
  margin-right: 2rem;
}

div.card-divider hr {
  margin: 0px;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s;
}

h1.header {
  margin-top: 1rem;
}